@font-face {
  font-family: 'M+ 1p';
  font-weight: 300;
  src: url('/assets/fonts/mplus-1p-light.woff') format('woff');;
}

@font-face {
  font-family: 'M+ 1p';
  font-weight: 400;
  src: url('/assets/fonts/mplus-1p-regular.woff') format('woff');;
}
